{% extends '_layout.njk' %}
{% import '_macro/sidebar.njk' as sidebar_template %}

{% block title %}{{ title }}{% if theme.index_with_subtitle and subtitle %} - {{ subtitle }}{% endif %}{% endblock %}

{% block page_class %}
  {% if is_home() %}page-home{% endif %}
{% endblock %}

{% block content %}
  <section id="posts" class="posts-expand">
    {% for post in page.posts %}
      {{ partial('_macro/post.njk', {is_index: true}) }}
    {% endfor %}
  </section>

  {% include '_partials/pagination.njk' %}
{% endblock %}

{% block sidebar %}
  {{ sidebar_template.render(false) }}
{% endblock %}
